<div x-data class="mt-12 bg-gray-100 rounded-3xl p-6 md:p-8">
  <h2 class="text-xl md:text-2xl text-gray-900 my-0 text-center tracking-normal font-semibold flex items-center justify-center gap-2 mb-3">Buy 2 Get 1 FREE
    <span class="bg-indigo-600 text-white px-4 py-1 rounded-full font-bold">Save 33%</span>
  </h2>
  <p class="mt-0 mb-8 text-center tracking-normal">Build your bundle and get one scent for FREE!</p>
  <div class="grid grid-cols-3 gap-4">
    <template x-for="(product, index) in $store.atcBundle.selectedProducts" :key="product.id">
      <div class="text-center relative">
        <div class="flex justify-center mb-4 border-2 border-solid border-green-700 rounded-lg">
          <button @click="$store.atcBundle.removeProduct(index)" class="absolute top-2 right-2 w-6 h-6 p-0 flex items-center justify-center bg-white rounded-full text-xs cursor-pointer border-0 shadow">
            <svg
              width="10"
              height="12"
              viewBox="0 0 10 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M9.92817 2.16875C9.85317 1.8875 9.80317 1.73125 9.80317 1.73125C9.72192 1.44063 9.51567 1.44062 9.20942 1.39062L7.55005 1.18125C7.3438 1.14688 7.3438 1.14688 7.26255 0.96875C6.99067 0.35625 6.9063 0 6.60942 0H3.39067C3.0938 0 3.01255 0.35625 2.74067 0.971875C2.65942 1.14687 2.65942 1.14688 2.45317 1.18438L0.790672 1.39375C0.487547 1.44375 0.268797 1.47188 0.187547 1.7625C0.187547 1.7625 0.150047 1.89062 0.0719217 2.16875C-0.0280783 2.54062 -0.0687033 2.5 0.275047 2.5H9.72505C10.0688 2.50312 10.0313 2.54062 9.92817 2.16875ZM8.8563 3.5H1.1438C0.625047 3.5 0.600047 3.56875 0.631297 3.95937L1.21567 11.5406C1.26567 11.925 1.30317 12.0031 1.76255 12.0031H8.23755C8.69692 12.0031 8.73442 11.925 8.78442 11.5406L9.3688 3.95937C9.40005 3.56562 9.37505 3.5 8.8563 3.5Z" fill="#868686" />
            </svg>
          </button>
          <img
            :src="product.image"
            :alt="product.name"
            class="w-full aspect-square object-cover rounded-lg"
            width=""
            height="">
        </div>
        <h4 class="font-bold text-gray-900 my-0 uppercase" x-text="product.name"></h4>
        <p class="text-gray-900 my-0" x-text="product.price"></p>
      </div>
    </template>
    <template x-for="i in (3 - $store.atcBundle.selectedProducts.length)" :key="i">
      <div class="text-center">
        <button @click="$store.atcBundle.showModal = true" class="border-2 border-dashed bg-white border-gray-300 rounded-2xl grid place-items-center w-full aspect-square">
          <div class="size-8 text-gray-500">
            {{- 'icon-plus.svg' | inline_asset_content -}}
          </div>
        </button>
        <p class="text-gray-700 mt-4 font-medium mb-0">Add Scent</p>
      </div>
    </template>
  </div>
</div>

<div
  x-data
  x-show="$store.atcBundle.showModal"
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-[9999]"
  x-cloak>
  <div class="bg-white rounded-2xl p-4 md:p-6 max-w-2xl w-full mx-4 h-[90vh] flex flex-col relative" @click.away="$store.atcBundle.showModal = false">
    <button @click="$store.atcBundle.showModal = false" class="absolute -top-2 -right-2 size-8 bg-teal-100 text-black [&:hover_span]:scale-110 rounded-full flex items-center justify-center border-0 text-3xl cursor-pointer transition">
      <span class="[rotate:-45deg] size-5 transition duration-150">
        {{- 'icon-plus.svg' | inline_asset_content -}}
      </span>
    </button>
    <div class="modal-header flex-shrink-0">
      <h2 class="text-2xl font-bold text-gray-900 my-4 text-center tracking-normal" x-text="$store.atcBundle.selectedProducts.length === 3 ? 'YOUR BUNDLE IS READY! 👑' : `ADD ${3 - $store.atcBundle.selectedProducts.length} MORE SCENT${3 - $store.atcBundle.selectedProducts.length > 1 ? 'S' : ''}`"></h2>
      <div x-show="$store.atcBundle.selectedProducts.length < 3">
        <div class="flex space-x-1 mb-4">
          <button
            @click="$store.atcBundle.activeCategory = 'All'"
            :class="$store.atcBundle.activeCategory === 'All' ? 'border-2 border-purple-700' : 'bg-white border-gray-200'"
            class="px-4 py-1 rounded-full font-semibold border border-solid cursor-pointer">All</button>
          <button
            @click="$store.atcBundle.activeCategory = 'Man'"
            :class="$store.atcBundle.activeCategory === 'Man' ? 'border-2 border-purple-700' : 'bg-white border-gray-200'"
            class="px-4 py-1 rounded-full font-semibold border border-solid cursor-pointer">Men's</button>
          <button
            @click="$store.atcBundle.activeCategory = 'Woman'"
            :class="$store.atcBundle.activeCategory === 'Woman' ? 'border-2 border-purple-700' : 'bg-white border-gray-200'"
            class="px-4 py-1 rounded-full font-semibold border border-solid cursor-pointer">Women's</button>
        </div>
        <!-- Search -->
        <div class="relative">
          <input
            type="text"
            x-model="$store.atcBundle.searchText"
            placeholder="Find your perfume"
            class="w-full p-2.5 pl-10 h-10 bg-gray-100 rounded-full border-0 border-solid focus:border-2 focus:border-sky-400 focus:outline-none focus:ring-0">
          <span class="absolute top-2.5 left-2.5 size-5">
            {{- 'icon-search.svg' | inline_asset_content -}}
          </span>
        </div>
      </div>
    </div>

    {% comment %} Product Grid {% endcomment %}
    <div class="flex-1 overflow-y-auto mt-4 -mx-2 px-2">
      <template x-if="$store.atcBundle.selectedProducts.length === 3">
        <div class="text-center mt-10">
          <div class="flex justify-center" role="status">
            <svg
              aria-hidden="true"
              class="size-20 text-gray-200 animate-spin fill-indigo-400"
              viewBox="0 0 100 101"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
              <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
            </svg>
            <span class="sr-only">Loading...</span>
          </div>
          <p class="font-semibold text-lg tracking-normal mt-6">Redirecting To Checkout...</p>
        </div>
      </template>
      <template x-if="$store.atcBundle.selectedProducts.length < 3">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-3 md:gap-4">
          <template x-for="product in $store.atcBundle.availableProducts" :key="product.id">
            <template x-if="(product.tags.some(tag => tag === $store.atcBundle.activeCategory) || $store.atcBundle.activeCategory === 'All') &&
         ($store.atcBundle.selectedBrand === '' || product.tags.some(tag => 
           tag.toLowerCase().includes($store.atcBundle.selectedBrand.toLowerCase())
         )) &&
         ($store.atcBundle.searchText === '' || product.name.toLowerCase().includes($store.atcBundle.searchText.toLowerCase()))">
              <div class="border border-solid border-gray-200 rounded-2xl flex flex-col overflow-hidden">
                <div class="flex justify-center relative border-b">
                  <img
                    :src="product.image"
                    :alt="product.name"
                    height=""
                    width=""
                    class="w-full h-auto object-cover rounded mr-2">
                  <p class="text-gray-600 text-sm absolute top-1.5 right-2 my-0" x-text="$store.product.selectedVariantTitle"></p>
                </div>
                <div class="relative flex-1 p-4 pt-2">
                  <h4 class="font-bold text-gray-900 my-1" x-text="product.name"></h4>
                  <p class="text-sm">"...<span x-text="product.nuta"></span>..."</p>
                  <p class="text-gray-900 font-semibold mb-2 mt-0" x-html="product.variants[$store.product.selectedVariantTitle].originalPrice"></p>
                  <button
                    @click="$store.atcBundle.addRemoveProduct(product)"
                    :disabled="!$store.atcBundle.isProductSelected(product.id) && $store.atcBundle.selectedProducts.length >= 3"
                    :class="$store.atcBundle.isProductSelected(product.id) ? 'bg-rose-200 hover:bg-rose-300' : 'bg-sky-200 hover:bg-sky-300'"
                    class="font-bold w-full py-2.5 px-4 rounded-full transition-colors border-0 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed">
                    <span x-text="$store.atcBundle.isProductSelected(product.id) ? 'Remove -' : 'Add +'"></span>
                  </button>
                </div>
              </div>
            </template>
          </template>
        </div>
      </template>
    </div>
  </div>
</div>

{% assign bundle_collection = collections['all'] %}
{% unless bundle_collection %}
  {% assign bundle_collection = collections.first %}
{% endunless %}

<script>
  const bundleProducts = [
    {% for bundle_product in bundle_collection.products %}
      {
        id: {{ bundle_product.id }},
        name: "{{ bundle_product.title }}",
        image: "{{ bundle_product.featured_image | image_url }}",
        nuta: "{{ bundle_product.metafields.custom.nuta }}",
        tags: {{ bundle_product.tags | json }},
        variants: {
          {% for variant in bundle_product.variants %}
            "{{ variant.title }}": {
              id: {{ variant.id }},
              originalPrice: "{{ variant.price | money }}"
            },
          {% endfor %}
        }
      },
    {% endfor %}
  ];
</script>