<script>
  const selectedVariant = "{{ product.selected_or_first_available_variant.id }}";
  const selectedVariantPrice = "{{ product.selected_or_first_available_variant.price | money }}";
  const selectedVariantTitle = "{{ product.selected_or_first_available_variant.title }}";
</script>

<div class="pb-16 md:pb-20 md:pt-12">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-12">
      <div>
        {% render 'product-gallery' %}
      </div>
      <div>
        <h1 class="text-4xl font-bold font-heading mb-4">{{ product.title }}</h1>
        <p class="font-bold mb-6">"...Tobacco Vanille®..."</p>
        <div class="flex flex-wrap justify-between items-center mb-6">
          <h2 class="m-0 text-base font-semibold">
            Select Size:
          </h2>
          <div class="text-sm italic text-gray-500">
            80% of customers buy 50ml or more
          </div>
        </div>

        <div
          class="flex gap-3 mb-6"
          id="variant-selector"
          x-data>
          {% for variant in product.variants %}
            {% assign size = variant.title | remove: 'ML' %}
            {% assign size_int = size | times: 1 %}
            {% assign price_in_dollars = variant.price | times: 0.01 %}
            {% assign per_ml = price_in_dollars | divided_by: size_int | round: 2 %}
            <button
              type="button"
              @click="$store.product.price = '{{ variant.price |  money }}'; $store.product.selectedVariant = '{{ variant.id }}'; $store.product.selectedVariantTitle = '{{ variant.title }}'"
              :disabled="$store.product.loading"
              :class="'{{variant.id}}' == $store.product.selectedVariant ? 'border-indigo-500' : 'border-gray-200'"
              class="variant-button flex-grow flex flex-col items-center gap-1 rounded-2xl p-2 pt-6 bg-white border-2 border-solid border-gray-200 cursor-pointer relative disabled:cursor-not-allowed">
              {% assign variant_image = variant.image | default: product.featured_image %}
              <div class="mx-auto">
                <img
                  src="{{ variant_image | image_url: width: 100, height: 100, crop: 'center' }}"
                  alt="{{ variant.title }}"
                  width="100"
                  height="100"
                  class="size-16 object-cover"
                  loading="lazy">
              </div>
              <h3 class="text-sm font-semibold mt-2">{{ variant.title }}</h3>
              <span class="text-xs text-gray-600">{{ cart.currency.symbol }}{{ per_ml }} Per Spray</span>
              {% if variant.title == '50ML' %}
                <span class="text-sm absolute -top-2.5 left-1/2 [transform:translateX(-50%)] bg-indigo-100 px-2 py-0.5 rounded-full">Popular</span>
              {% endif %}
              {% if variant.title == '100ML' %}
                <span class="text-sm absolute -top-2.5 left-1/2 [transform:translateX(-50%)] bg-sky-100 px-2 py-0.5 rounded-full">Bestseller</span>
              {% endif %}
            </button>
          {% endfor %}
        </div>

        <button
          x-data
          @click="$store.product.addToCart()"
          :disabled="$store.product.loading"
          class="flex items-center justify-center gap-2 text-black text-3xl uppercase border-2 border-black rounded-full bg-[#ffb97f] w-full px-4 py-4 shadow-[0_3px_0_0px_#1697a6,0_5px_0_0px_#000] hover:shadow-[0_0px_0_0px_#1697a6,0_0px_0_0px_#000] transition-all disabled:cursor-not-allowed disabled:opacity-60">
          <span>Shop Now |
            <span x-text="$store.product.price"></span>
          </span>
          <div x-show="$store.product.loading" role="status">
            <svg
              aria-hidden="true"
              class="w-8 h-8 text-black animate-spin fill-white"
              viewBox="0 0 100 101"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
              <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
            </svg>
            <span class="sr-only">Loading...</span>
          </div>
        </button>

        {% render 'atc-bundle-builder' %}

        <div class="grid grid-cols-2 md:grid-cols-3 gap-y-4 gap-x-2 items-center mt-12">
          {% for block in section.blocks %}
            {% if block.type == 'feature' %}
              <div class="flex gap-2 items-center" {{ block.shopify_attributes }}>
                <img
                  class="w-8 h-8"
                  src="{{ block.settings.image | image_url: width: 64, height: 64 }}"
                  alt="{{ block.settings.title }}"
                  width="32"
                  height="32"
                  loading="lazy">
                <p class="m-0 text-xs leading-4">{{ block.settings.title }}</p>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="mt-12 space-y-4">
          <div class="flex items-center gap-2">
            <h3 class="font-semibold">TOP NOTES:</h3>
            {% for note in product.metafields.custom.top_notes.value %}
              <div class="bg-gray-100 rounded-full flex flex-wrap items-center gap-3 px-3 py-1">
                <img
                  src="{{ note.image | image_url: width: 64, height: 64 }}"
                  alt="{{ note.name }}"
                  width="30"
                  height="30"
                  loading="lazy">
                <p>{{ note.name }}</p>
              </div>
            {% endfor %}
          </div>
          <div class="flex items-center gap-2">
            <h3 class="font-semibold">MIDDLE NOTES:</h3>
            {% for note in product.metafields.custom.middle_notes.value %}
              <div class="bg-gray-100 rounded-full flex flex-wrap items-center gap-3 px-3 py-1">
                <img
                  src="{{ note.image | image_url: width: 64, height: 64 }}"
                  alt="{{ note.name }}"
                  width="30"
                  height="30"
                  loading="lazy">
                <p>{{ note.name }}</p>
              </div>
            {% endfor %}
          </div>
          <div class="flex items-center gap-2">
            <h3 class="font-semibold">BASE NOTES:</h3>
            {% for note in product.metafields.custom.base_notes.value %}
              <div class="bg-gray-100 rounded-full flex flex-wrap items-center gap-3 px-3 py-1">
                <img
                  src="{{ note.image | image_url: width: 64, height: 64 }}"
                  alt="{{ note.name }}"
                  width="30"
                  height="30"
                  loading="lazy">
                <p>{{ note.name }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="bg-gray-100 rounded-3xl p-4 md:p-8 mt-12 space-y-4">
          {% for block in section.blocks %}
            {% if block.type == 'accordion' %}
              <div
                x-data="{ isOpen: false }"
                class="bg-white rounded-2xl overflow-hidden transition-all duration-300 ease-in-out"
                {{ block.shopify_attributes }}>
                <button
                  @click="isOpen = !isOpen"
                  class="w-full px-6 py-5 flex items-center justify-between text-left rounded-2xl transition-all duration-300"
                  :class="{ 'rounded-b-none': isOpen }">
                  <span class="text-xl font-bold">{{ block.settings.title }}</span>
                  <span class="text-3xl font-light transition-transform duration-300 transform" :class="{ 'rotate-45': isOpen }">
                    +
                  </span>
                </button>
                <div
                  x-ref="panel"
                  x-cloak
                  x-bind:style="isOpen ? 'max-height: ' + $refs.panel.scrollHeight + 'px' : 'max-height: 0px'"
                  class="overflow-hidden transition-all duration-300 ease-in-out">
                  <div class="flex flex-col gap-4 p-4 pt-0 [&_p:empty]:hidden [&_p]:leading-relaxed text-gray-700">
                    <p>{{ block.settings.content }}</p>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Main Product",
    "settings": [],
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          }, {
            "id": "title",
            "type": "text",
            "label": "Title"
          }
        ]
      }, {
        "type": "accordion",
        "name": "Accordion",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          }, {
            "id": "content",
            "type": "richtext",
            "label": "Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Main Product"
      }
    ]
  }
{% endschema %}