<div class="py-4 border-b border-gray-200">
  <div class="container">
    <div class="flex items-center justify-between">
      <nav>
        {% for link in linklists.main-menu.links %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      </nav>
      <a href="{{ shop.url }}">
        <img
          src="{{ settings.logo.image | image_url: width: 300 }}"
          alt="{{ settings.logo.alt }}"
          class="max-w-[120px] h-auto"
          height=""
          width="">
      </a>
      <div class="flex gap-4 items-center [&_svg]:size-5 [&_svg]:transition-all [&_svg]:duration-300">
        <button class="size-10 bg-rose-100 rounded-full grid place-items-center [&:hover_svg]:size-6">
          {{ 'icon-search.svg' | inline_asset_content }}
        </button>
        {%- if shop.customer_accounts_enabled -%}
          <a
            href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
            class="size-10 bg-sky-100 rounded-full grid place-items-center [&:hover_svg]:size-6 [&_.avatar-wrapper]:!p-0"
            rel="nofollow">
            {%- assign initial = customer.first_name | default: customer.last_name | default: customer.email | first | upcase -%}
            {%- if customer -%}
              <span class="font-medium text-black text-xl">{{ initial }}</span>
            {%- else -%}
              {{ 'icon-account.svg' | inline_asset_content }}
            {%- endif -%}
            <span class="sr-only">
              {%- liquid
                if customer
                  echo 'Account'
                else
                  echo 'Log In'
                endif
              -%}
            </span>
          </a>
        {%- endif -%}
        <button
          x-data
          @click="$store.cart.isOpen = true"
          class="size-10 bg-indigo-100 rounded-full grid place-items-center [&:hover_svg]:size-6 relative">
          {{ 'icon-cart.svg' | inline_asset_content }}
          <span x-text="$store.cart.totalItems" class="absolute -top-2 -right-2 bg-black text-white text-xs rounded-full w-5 h-5 flex items-center justify-center">{{ cart.item_count }}</span>
        </button>
      </div>
    </div>
  </div>
</div>