<div class="py-4 border-b border-gray-200">
  <div class="container">
    <div class="flex items-center justify-between gap-6">
      <div class="md:w-full">
        <div
          x-data="{ open: false }"
          @click.away="open = false"
          class="md:hidden">
          <button @click="open = !open" class="flex items-center">
            <span class="inline-block h-5 w-6">
              {{ 'icon-hamburger.svg' | inline_asset_content }}
            </span>
          </button>
          <div
            x-cloak
            :class="open ? 'left-0' : '-left-full'"
            class="fixed top-0 h-full w-full max-w-[300px] bg-white shadow-2xl z-50 flex flex-col transition-all duration-300">
            <div class="flex items-center justify-between p-6 border-b">
              <h2 class="text-4xl font-bold">Menu</h2>
              <button @click="open = false" class="p-2 hover:bg-gray-100 rounded-lg transition-colors">
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="space-y-3 p-6">
              {% for block in section.blocks %}
                <a class="flex items-center gap-4 bg-white rounded-xl p-3 border" href="{{ block.settings.link }}">
                  <img
                    src="{{ block.settings.icon | image_url: width: 70, height: 70 }}"
                    alt="{{ block.settings.title }}"
                    class="rounded"
                    height="40"
                    width="40">
                  <span>{{ block.settings.title }}</span>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
        <nav class="hidden md:flex gap-4">
          <div
            x-data="{ open: false }"
            @click.away="open = false"
            class="relative">
            <button @click="open = !open" class="py-1.5 px-4 rounded-full font-medium bg-indigo-100 flex items-center gap-2">
              <span>PURFUM</span>
              <span class="h-[9px] w-[15px] inline-block">{{ 'icon-caret.svg' | inline_asset_content }}</span>
            </button>
            <div
              x-show="open"
              x-cloak
              x-transition:enter="transition ease-out duration-100"
              x-transition:enter-start="opacity-0 scale-90"
              x-transition:enter-end="opacity-100 scale-100"
              x-transition:leave="transition ease-in duration-100"
              x-transition:leave-start="opacity-100 scale-100"
              x-transition:leave-end="opacity-0 scale-90"
              class="absolute top-[calc(100%+5px)] z-40 left-0 bg-gray-100 rounded-2xl p-4 w-[300px]">
              <div class="space-y-3">
                {% for block in section.blocks %}
                  <a class="flex items-center gap-4 bg-white rounded-xl p-3" href="{{ block.settings.link }}">
                    <img
                      src="{{ block.settings.icon | image_url: width: 70, height: 70 }}"
                      alt="{{ block.settings.title }}"
                      class="rounded"
                      height="40"
                      width="40">
                    <span>{{ block.settings.title }}</span>
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
          <a class="py-1.5 px-4 rounded-full font-medium bg-rose-100" href="/pages/build-your-bundle">Buy 2 Get 1 Free</a>
        </nav>
      </div>
      <a class="block" href="{{ routes.root_url }}">
        <img
          src="{{ settings.logo.image | image_url: width: 300 }}"
          alt="{{ settings.logo.alt }}"
          class="max-w-[120px] h-auto"
          height=""
          width="">
      </a>
      <div class="w-full flex gap-4 justify-end items-center [&_svg]:size-5 [&_svg]:transition-all [&_svg]:duration-300">
        <button
          x-data
          @click="$store.search.open = true"
          class="size-10 bg-rose-100 rounded-full grid place-items-center [&:hover_svg]:size-6">
          {{ 'icon-search.svg' | inline_asset_content }}
        </button>
        {%- if shop.customer_accounts_enabled -%}
          <a
            href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
            class="size-10 bg-sky-100 rounded-full grid place-items-center [&:hover_svg]:size-6 [&_.avatar-wrapper]:!p-0"
            rel="nofollow">
            {%- assign initial = customer.first_name | default: customer.last_name | default: customer.email | first | upcase -%}
            {%- if customer -%}
              <span class="font-medium text-black text-xl">{{ initial }}</span>
            {%- else -%}
              {{ 'icon-account.svg' | inline_asset_content }}
            {%- endif -%}
            <span class="sr-only">
              {%- liquid
                if customer
                  echo 'Account'
                else
                  echo 'Log In'
                endif
              -%}
            </span>
          </a>
        {%- endif -%}
        <button
          x-data
          @click="$store.cart.isOpen = true"
          class="size-10 bg-indigo-100 rounded-full grid place-items-center [&:hover_svg]:size-6 relative">
          {{ 'icon-cart.svg' | inline_asset_content }}
          <span x-text="$store.cart.totalItems" class="absolute -top-2 -right-2 bg-black text-white text-xs rounded-full w-5 h-5 flex items-center justify-center">{{ cart.item_count }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
{% render 'predictive-search' %}

{% schema %}
  {
    "name": "Navigation",
    "settings": [],
    "blocks": [
      {
        "type": "menu-item",
        "name": "Menu Item",
        "settings": [
          {
            "id": "icon",
            "type": "image_picker",
            "label": "Icon"
          }, {
            "id": "title",
            "type": "text",
            "label": "Title"
          }, {
            "id": "link",
            "type": "url",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Navigation"
      }
    ]
  }
{% endschema %}